In [1]:
from pororo import Pororo

In [2]:
Pororo.available_models('machine_translation')

'Available models for machine_translation are ([lang]: multi, [model]: transformer.large.multi.mtpg, transformer.large.multi.fast.mtpg)'

In [3]:
nmt = Pororo(task="translation", lang="multi")

In [4]:
nmt(src="ko", text="안녕하세요!", tgt="en")

[Korean Sentence Splitter]: Initializing Pynori...
/home/uj-user/miniconda3/envs/review/lib/python3.8/site-packages/fairseq/search.py:140: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor').
  beams_buf = indices_buf // vocab_size
/home/uj-user/miniconda3/envs/review/lib/python3.8/site-packages/fairseq/sequence_generator.py:651: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor').
  unfin_idx = idx // beam_size

'Good morning!'

In [5]:
import torch

print(torch.__version__)

1.12.0

In [6]:
nmt(src="ko", text="안녕하세요!", tgt="en")

'Good morning!'

In [7]:
import pandas as pd 
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       25000 non-null  int64
 1   reviews  25000 non-null  object
 2   target   25000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 586.1+ KB

In [8]:
train['aug_review'] = ""

In [10]:
train

,id,reviews,target,aug_review
0,0,조아요 처음구입 싸게햇어요,2,
1,1,생각보다 잘 안돼요 매지 바른지 하루밖에 안됐는데ㅠㅠ 25천원가량 주고 사기 너무 ...,1,
2,2,디자인은괜찮은데 상품이 금이가서 교환했는데 두번째받은상품도 까져있고 안쪽에 금이가져...,2,
3,3,기전에 이 제품말고 이마트 트레이더스에서만 팔던 프리미엄 제품을 사용했었습니다. 샘...,2,
4,4,튼튼하고 손목을 잘 받쳐주네요~,5,
...,...,...,...,...
24995,24995,일단향이너무너무좋은데지속력만좋다면좋겠지만..워낙저렴해그래도좋아여,5,
24996,24996,동일한 업체에서 발송하고 한 상자로 배송되었는데 택배비는 이중 처리되었습니다.,2,
24997,24997,향이 좋아요!! 다른 향도 시켜보고 싶어요,4,
24998,24998,펼쳐보니 끝부분쯤에 50cm정도 찟어져 있습니다 날짜관계로 구냥 사용합니다,2,
24999,24999,호호애미 제품은 늘 믿고 써요,5,

In [68]:
eng_train_review_list = []
for text in train['reviews'][0:3]:
    eng_train_review_list.append(nmt(src="ko", text=text, tgt="en"))

/home/uj-user/miniconda3/envs/review/lib/python3.8/site-packages/fairseq/search.py:140: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor').
  beams_buf = indices_buf // vocab_size
/home/uj-user/miniconda3/envs/review/lib/python3.8/site-packages/fairseq/sequence_generator.py:651: UserWarning: __floordiv__ is deprecated, and its behavior will change in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values. To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor').
  unfin_idx = idx // beam_size

In [69]:
eng_train_review_list

['Joa, I bought it cheap for the first time.',
 "It's not as good as I thought. It's only a day since it's a magazine, but it's worth about 25,000 won and it's too bad to buy.",
 "The design is fine, but the product was exchanged with gold, but the second received product is also cut inside, and it's cracked inside. I'm just trying to use it because I'm in trouble, and the delivery driver was kind."]

In [70]:
kor_train_review_list = []
for text in eng_train_review_list:
    kor_train_review_list.append(nmt(src="en", text=text, tgt="ko"))

In [71]:
kor_train_review_list

['조아, 처음으로 싸게 샀어',
 '생각보다 좋지 않다 잡지 이후 하루밖에 안 됐지만 약 2만5,000원 상당이고 사기엔 너무 안 좋다.',
 '디자인은 괜찮지만 제품은 금으로 주고받았지만 두 번째 받은 제품도 내부에서 절단돼 안에서 균열이 생겼다. 문제가 있어서 그냥 사용하려고 하는데, 배달기사가 친절했다.']

In [72]:
new_train = train.iloc[0:3]

In [55]:
new_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       3 non-null      int64
 1   reviews  3 non-null      object
 2   target   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [56]:
new_train['aug_review'] = kor_train_review_list

/tmp/ipykernel_2740744/3911249510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train['aug_review'] = kor_train_review_list

In [57]:
new_train

,id,reviews,target,aug_review
0,0,조아요 처음구입 싸게햇어요,2,"조아, 처음으로 싸게 샀어"
1,1,생각보다 잘 안돼요 매지 바른지 하루밖에 안됐는데ㅠㅠ 25천원가량 주고 사기 너무 ...,1,"생각보다 좋지 않다 잡지 이후 하루밖에 안 됐지만 약 2만5,000원 상당이고 사기..."
2,2,디자인은괜찮은데 상품이 금이가서 교환했는데 두번째받은상품도 까져있고 안쪽에 금이가져...,2,디자인은 괜찮지만 제품은 금으로 주고받았지만 두 번째 받은 제품도 내부에서 절단돼 ...

In [58]:
new_train.to_csv('./dataset/new_train.csv')